
 .form button{
    padding: 14px 0;
    font-size: 14px;
    font-family: "Rubik-Medium";
  }
  .sperator{
    position: relative;
    text-align: center;
    margin-top: 28px;
  }
  .sperator::before{
    position: absolute;
    content: "";
    top: 13px;
    width: 45%;
    border: 2px solid #E4E7EC;
    color: gray;
    left: 0;
  }
  .sperator::after{
    position: absolute;
    content: "";
    top: 13px;
    width: 45%;
    border: 2px solid #E4E7EC;
    color: gray;
    right: 0;
  }
  .link{
    font-size: 14px;
    font-family: "Rubik-Regular";
    color: #475467;
    text-align: center;
    margin-top: 16px;
  }
  .link a{
    color: #197A89;
  }
  .error{
       background-color: #F9E8E9;
       color: #EA1515;
       border-radius: 8px;
       padding: 10px 0;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 16px 0;
  }
  .error p{
    margin-bottom: 0;
  }
  .errTxt{
    color: #EA1515;
    font-size: 14px;
    font-family: "Rubik-Regular";
    margin-top: 4px;
  }
